plan/

.venv

# Django #
migrations/
!server/market/migrations/
!server/market/migrations/*.py
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
# Visual Studio Code # 

.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history